* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #343434;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 350px;
    height: 445px;
    margin-top: 30px;
}

/*Estilizando o campo de categorias*/
.campo-categoria {
    width: 100%;
    padding: 10px;
    background-color: #292929;
    border-radius: 5px;
    margin-bottom: 20px;
}

/*Estilizando a div que contém o input e o botão*/
.adicionarCategoria {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/*Estilizando o input de categoria*/
.adicionarCategoria #inputCategoria {
    width: 200px;
    height: 40px;
    padding: 5px;
    font-size: 1em;
    font-weight: 700;
    color: #fff;
    background-color: transparent;
    border: 2px solid #fff;
    border-radius: 5px;
    outline: none;
}

/*Estilizando o botão de adicionar uma categoria*/
.adicionarCategoria #btn-adicionar-categoria {
    padding: 5px;
    background-color: transparent;
    border: 2px solid #fff;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    transition: 0.3s;
}

/*Efeito do botão de adicionar uma categoria*/
#btn-adicionar-categoria:hover {
    color: #0f0;
}

/*Campo onde contém as categorias*/
.categorias {
    width: 100%;
    color: #fff;
    margin-top: 20px;
    display: flex;
    align-items: center;
    overflow-x: auto;
}

/*Estilizando o scrollbar do campo categoria*/
.categorias::-webkit-scrollbar{
    appearance: none;
    width: 90%;
    height: 15px;
    background-color: #343434;
    border-radius: 10px;
}
.categorias::-webkit-scrollbar-thumb {
    background-color: #a1a1a1;
    border-radius: 10px;
}

/*Estilizando as categorias*/
.categorias div {
   display: flex;
   margin-right: 20px; 
}
.categorias div:last-child {
    margin-right: 0;
}
.categorias div input, label {
    cursor: pointer;
}

/*Campo para adicionar um item na lista*/
.campo-adicionar {
    width: 100%;
    padding: 10px;
    background-color: #292929;
    margin-bottom: 20px;
    border-radius: 5px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/*Estilizando o input de adicionar um item na lista*/
.campo-adicionar #inputAdicionar {
    width: 200px;
    height: 40px;
    padding: 5px;
    font-size: 1em;
    font-weight: 700;
    color: #fff;
    background-color: transparent;
    border: 2px solid #fff;
    border-radius: 5px;
    outline: none;
}

/*Estilizando o botão de adicionar um item na lista*/
#btn-adicionar {
    padding: 5px;
    background-color: transparent;
    border: 2px solid #fff;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    transition: 0.3s;
}

/*Efeito do botão de adicionar um item na lista*/
#btn-adicionar:hover {
    color: #0f0;
}

/*Estilizando a lista de itens*/
ol.lista {
    width: 100%;
    height: 100%;
    list-style-type: decimal;
    list-style-position: inside;
    background-color: #292929;
    border-radius: 5px;
    overflow-y: auto;
}

/*Estilizando a scrollbar da lista de itens*/
ol.lista::-webkit-scrollbar {
    appearance: none;
    height: 80%;
    width: 15px;
    border-radius: 10px;
}
ol.lista::-webkit-scrollbar-thumb {
    background-color: #a1a1a1;
    border-radius: 10px;
}

/*Estilizando os itens da lista*/
ol.lista li {
    color: #fff;
    font-size: 1.2em;
    padding: 10px;
}